#main-wrapper {
  max-width: 100vw;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fd746c,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fd746c,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deals-of-the-week {
  padding-right: 15px;
  padding-left: 15px;
}
#deal-header {
  position: relative;
}
#hand-grip {
  position: absolute;
  width: 300px;
  bottom: 5px;
  left: -100px;
}

.card img {
  padding: 10px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
}

.card {
  min-height: 450px;
  background-color: rgba(109, 214, 198, 0.5);
}

/* .img-container {
  max-height: 300px;
} */

/* .img-container img {
  object-fit: cover;
  overflow: hidden;
} */

.background-color {
  background-color: rgb(79, 71, 101);
}

.background-color-two {
  color: #fd746c;
}

#deal-of-the-day {
  width: 100%;
}

#daily-destination {
  max-width: 66%;
}
#daily-destination-info {
  width: 33%;
}

/* .img-66 {
  width: 66%;
} */
